.btn-book {
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(12, 3%, 37%);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}
.btn-book:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
